<!DOCTYPE html>
<html ng-app="expMngApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>-->

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="http://pablojim.github.io/highcharts-ng/javascripts/highcharts-ng.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/Utils.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <title>Expenses Manager</title>
</head>
<body>

<h2>Expenses Manager</h2>

<div ng-controller="navigationCtrl">
    <ul id="header">
        <li ng-repeat="nav in navOptions" id="selected-{{selected===nav}}">
            <a href="#/{{nav}}" ng-click="select(nav)">{{nav}}</a>
        </li>
    </ul>
    <div id="content">
        <div ng-view></div>
    </div>
</div>


</body>
</html>